<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @person.parent %>
</p>

<p>
  <strong>Child:</strong>
  <%= @person.child %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
